@media  (max-width: 480px) {
}
    .sectionInformacionb {
        width: 90%;
        margin: auto;
        .arBandas {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .sectionInformacion {
        width: 90%;
        margin: auto;
    }
    .sectionInformaciond{
        width: 90%;
        margin: auto;
    }
    .sectionInformaciont{
        width: 90%;
        margin: auto;
    }
    .sectionInformacionc{
        width: 90%;
        margin: auto;
    }
