.cardsInfo {
    width: 12.5rem;
    background-color: rgba(220, 220, 220, 0.28);
    padding-bottom: .625rem;
    border-width: .3125rem;
    border-style: solid;
    overflow: hidden;
    border-radius: .25rem;
    margin: auto;
    cursor: pointer;
    transition: 2s;
    &:hover {
        transform: scale(1.1);
        transition: 2s;
    }
    .cardH{
        text-align: center;
    }
}

// card tienda
.cardTienda {
    @extend .cardsInfo;
    width: 12.5rem;
    height: 18.75rem;
    background-color: rgba(255, 255, 255, 0.999);
    border: .625rem;
    box-shadow: 0 10px 10px rgb(212, 32, 16);
    
        h3 {
            @extend .cardH;
            color: $background-hyf;
            padding: 1.25rem;
        }
}

